---

---

<section class="root">
  <figure>
    <picture>
      <source
        srcset="/illustration-editor-mobile.svg"
        media="(max-width:1024px)"
      />
      <img src="/illustration-editor-desktop.svg" alt="" />
    </picture>
  </figure>
  <div>
    <section>
      <header>
        <h3>Introducing an extensible editor</h3>
        <p>
          Blogr features an exceedingly intuitive interface which lets you focus
          on one thing: creating content. The editor supports management of
          multiple blogs and allows easy manipulation of embeds such as images,
          videos, and Markdown. Extensibility with plugins and themes provide
          easy ways to add functionality or change the looks of a blog.
        </p>
      </header>
    </section>
    <section>
      <header>
        <h3>Robust content management</h3>
        <p>
          Flexible content management enables users to easily move through
          posts. Increase the usability of your blog by adding customized
          categories, sections, format, or flow. With this functionality, you’re
          in full control.
        </p>
      </header>
    </section>
  </div>
</section>

<style scoped>
  .root {
    display: grid;
    place-items: center;
    text-align: center;
    gap: fluid(1.5rem, 3rem);
    padding-inline: container();
    color: var(--very-dark-grayish-blue);
    padding-block: fluid(3.5rem, 7rem) 3.5rem;
  }

  @media (width >= 1024px) {
    .root {
      text-align: left;
      overflow: clip;
      padding-inline: container() 0;
      justify-content: space-between;
      align-items: center;
      grid-template-columns: min(34rem, 100%) 1fr;
    }
  }

  figure {
    margin: 0;
  }

  @media (width >= 1024px) {
    figure {
      aspect-ratio: 615 / 880;
      position: relative;
      width: 100%;
      order: 1;
    }

    figure picture {
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
      width: auto;
      height: 100%;
    }

    figure img {
      object-fit: cover;
      object-position: left center;
      width: 100%;
      height: 100%;
    }
  }

  .root > div {
    display: grid;
    gap: fluid(2.5rem, 4rem);
  }

  @media (width < 1024px) {
    .root > * {
      width: min(40rem, 100%);
    }
  }

  h3 {
    font-size: fluid(1.5rem, 1.75rem);
    font-weight: 500;
    margin-block-end: fluid(1rem, 1.75rem);
    color: var(--very-dark-blue);
  }

  p {
    line-height: 1.75;
    color: var(--very-dark-grayish-blue);
    text-wrap: balance;
  }
</style>
