---
import Button from "../Button.astro";
---

<section>
  <header>
    <h1>A modern publishing platform</h1>
    <p>Grow your audience and build your online brand</p>
  </header>
  <div>
    <Button href="#1">Start for free</Button>
    <Button href="#1" variant="outlined">Learn More</Button>
  </div>
</section>

<style scoped>
  section {
    display: grid;
    padding-inline: container();
    place-content: center;
    text-align: center;
    color: var(--white);
    height: max(32rem, 55vh);
    /* min-height: fluid(32rem, 37.5rem); */
    border-end-start-radius: fluid(5rem, 6.25rem);
    background:
      url("/bg-pattern-intro-desktop.svg") no-repeat right -50vw center / 140% auto,
      linear-gradient(to right, var(--gradient-red));
  }

  @media (width < 768px) {
    section {
      background:
        url("/bg-pattern-intro-desktop.svg") no-repeat left -50vw center / auto 200%,
        linear-gradient(to right, var(--very-light-red), var(--light-red) 40%);
    }
  }

  header {
    margin-block-start: fluid(2.5rem, 5rem);
    text-wrap: balance;
  }

  h1 {
    font-size: fluid(1.875rem, 3.75rem);
    line-height: 1.333;
    font-family: "Overpass", system-ui, sans-serif;
    letter-spacing: -0.025em;
    margin-block: 0 0.25em;
  }

  p {
    font-family: "Overpass", system-ui, sans-serif;
    font-size: fluid(1rem, 1.25rem);
  }

  div {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    margin-block-start: fluid(1.5rem, 3rem);
  }
</style>
