---
import logo from "../../public/logo.svg?raw";
import { LINKS } from "../data/data";
---

<footer class="footer">
  <a class="homelink" href="/" aria-label="Blogr logo - link to homepage">
    <Fragment set:html={logo} />
  </a>
  <nav class="nav">
    {
      LINKS.map((group) => (
        <div class="linkgroup">
          <h3 class="linkgroup__title">{group.name}</h3>
          <ul class="linkgroup__list" role="list">
            {group.links.map((link) => (
              <li>
                <a class="linkgroup__link" href={link.href}>
                  {link.label}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </nav>
</footer>

<style scoped>
  .footer {
    display: grid;
    padding-inline: container();
    gap: 4rem 0;
    padding-block: 4rem;
    border-start-end-radius: fluid(5rem, 6.25rem);
    background-color: var(--very-dark-black-blue);
    color: var(--grayish-blue);
    text-align: center;
    justify-content: center;
  }

  @media (width >= 768px) {
    .footer {
      text-align: left;
      grid-template-columns: repeat(4, 1fr);
      align-items: start;
    }
  }

  .nav {
    display: grid;
    place-content: center;
    gap: 2.5rem 0;
  }

  @media (width >= 768px) {
    .nav {
      grid-column: span 3;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
    }
  }

  .homelink {
    display: inline-block;
    justify-self: start;
  }

  .linkgroup__title {
    font-size: 1rem;
    margin-block-end: 2em;
  }

  .linkgroup__link {
    display: block;
    padding-block: 0.24rem;
    opacity: 0.75;
    transition: all 0.25s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .linkgroup__link:is(:hover, :focus-visible) {
    opacity: 1;
  }
</style>
